<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="menu(menu)">
		<div class="h-sub-menu">
			<ul>
				<li class="programming_language"><a class="s-active" href="/"
						style="border-radius: 5px;"><span class="icon-sub fl"><i
								class="fas fa-th-large"></i></span><span>Tất
							cả</span></a></li>
				<li class="programming_language"><a class="" href="/Doisong"><span class="icon-sub fl"><i
								class="fas fa-calculator"></i></span><span>Đời sống</span></a></li>
				<li class="programming_language"><a class="" href="/Nauan"><span class="icon-sub fl"><i
								class="fab fa-battle-net"></i></span><span>Nấu ăn</span></a></li>
				<li class="programming_language"><a class="" href="/Hoctap"><span class="icon-sub fl"><i
								class="fas fa-bong"></i></span><span>Học tập</span></a></li>
				
			</ul>
		</div>
	</div>
</body>

</html>